<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>JavaLearner</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav #sidenav mode="over" role ="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/java" routerLinkActive="active">Java </a>
      <a mat-list-item routerLink="/sql" routerLinkActive="active"> Sql </a>
      <a mat-list-item routerLink="/profile" routerLinkActive="active"> Profile </a>
      <div *ngIf = "isUserLoggedIn()">
          <a mat-list-item routerLink="/logOut" (click) = "onLogOut()" routerLinkActive="active"> LogOut </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;padding: 20px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>