
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.mat-sidenav {
    background-color: white;
}

.example-sidenav-container {
   flex: 1;
}


h1.example-app-name { 
    margin-left: 8px;
}

h1.username {
    margin-left: auto;
    margin-right: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}

.mat-list-item {
    color : black;
    font-weight: 300;
}

.mat-list-item:hover {
    font-weight: bolder;
}

.mat-subheader {
    font-size: 18px;
    font-weight: 900;
}

.list-item {
    margin: 0 15px 0 15px;
}

.list-item :hover {
    font-weight: bolder;
}

.cross-button {
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
}
