<div class="row page-header  mat-elevation-z8">
    <div class="col-md-2" style="padding: 15px;">
            <button (click) = "onBack()" mat-raised-button style="padding-left: 30px; padding-right: 30px;">BACK</button>
    </div>
    <div class="col-md-8" style="padding: 15px;">
        <h4>SHARE YOUR FAVOURITE JAVA INTERVIEW QUESTION</h4>
    </div>
    <div class="col-md-2" style="padding: 15px;">
        <button (click) = "onNext()" mat-raised-button style="padding-left: 30px; padding-right: 30px;">NEXT</button>
    </div>
</div>

<div class="container" style="padding-top: 30px;">
    <div class="card">
        <div class="card-body">
            <div class="card-title text-center header-color">
                SHARE JAVA INTERVIEW QUESTION
            </div>
            <div class="card-body">
                <form [formGroup] = "shareJavaQuestion">
                    <div class="row">
                        <div  class="col-md-12">
                            <mat-form-field class="form-width">
                                <input matInput placeholder = "Company" formControlName = "company">
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="form-width">
                                <textarea matInput placeholder= "Question" rows =2 formControlName = "question"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                                <mat-form-field class="form-width">
                                    <textarea  matInput #input max-length = "400" placeholder= "Answer" formControlName = "answer"></textarea>
                                    <mat-hint align = "left">Max 400 chars only</mat-hint>
                                    <mat-hint align= "end">{{input.value?.length || 0}}/400</mat-hint>
                                    <mat-error *ngIf = "shareJavaQuestion.get('answer').invalid">
                                        answer should of 400 chars only
                                    </mat-error>
                                </mat-form-field>
                        </div>
                    </div>
                    <div class="row pt-5 ml-1">
                        <button (click) = "onClick()"  mat-stroked-button>SHARE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
