<div class="card mb-3" style="border:0; border-bottom:1px solid white;">
        <i (click)= "onClose()" class="material-icons ml-auto mr-2 cross-button">close</i>
        <h2 mat-dialog-title><strong>ADD WORK EXPERIENCE</strong></h2>
        <mat-divider class="title mb-3"></mat-divider>
</div>
    
<div mat-dialog-content>
    <form [formGroup] = "workExpForm">
        <div class="row ml-1 mr-1 pb-1">
                <mat-form-field class="full-width">
                    <mat-label>Role</mat-label>
                    <input matInput formControlName = "role">
                    <mat-error *ngIf = "role.invalid"> Please Enter Your Role</mat-error>
                </mat-form-field>
        </div>
        <div class="row ml-1 mr-1 pb-1">
            <mat-form-field class="full-width">
                <mat-label>Company</mat-label>
                <input matInput formControlName = "companyName">
                <mat-error *ngIf = "companyName.invalid"> Please Enter Company Name</mat-error>
            </mat-form-field>
        </div>
        <div class="row ml-1 mr-1 pb-1">
            <mat-form-field class="full-width">
                <mat-label>Location</mat-label>
                <input matInput formControlName = "location">
            </mat-form-field>
        </div>
        <div class="row pb-1">
            <div class="col-md-6">
                <mat-form-field class="full-width">
                        <mat-label>YearStarted</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName = "yearStarted">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div *ngIf = "!workExpForm.get('isStillWorking').value" class="col-md-6">
                    <mat-form-field class="full-width">
                            <mat-label>YearEnded</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName = "yearEnded">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
            </div>
        </div>
        <div class="row ml-1 mr-1 pb-1">
            <mat-checkbox  formControlName = "isStillWorking">StillWorkingHere</mat-checkbox>
        </div>
        <div class="row ml-1 mr-1 pb-1">
            <mat-form-field class="full-width">
                <mat-label>Responsibilities</mat-label>
                <textarea matInput  #input max-length = "500" formControlName= "responsibilities" class="form-field__textarea"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>
    
    
<div class="mt-3">
    <mat-divider class ="title mb-3"></mat-divider>
    <div mat-dialog-actions>
        <button mat-stroked-button color ="warn" class="mr-3" (click) = "onNoClick()">CANCEL</button>
        <button mat-stroked-button  color = "primary" [disabled] = "workExpForm.invalid" [mat-dialog-close] = "workExpForm">SAVE</button>
    </div>
</div>
