<div class="card mb-3" style="border:0; border-bottom:1px solid white;">
        <i (click)= "onClose()" class="material-icons ml-auto mr-2 cross-button">close</i>
        <h2 mat-dialog-title><strong>ADD SKILL</strong></h2>
        <mat-divider class="title mb-3"></mat-divider>
    </div>
    
<div mat-dialog-content >
    <form [formGroup] = "certificationsForm">
        <div class="row ml-1 mr-1 pb-1">
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName = "name">
            </mat-form-field>
        </div>
        <div class="row pb-1">
            <div class="col-md-6">
                <mat-form-field class="full-width">
                        <mat-label>YearIssued</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName = "yearIssued">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div *ngIf = "!certificationsForm.get('isNeverExpires').value" class="col-md-6">
                    <mat-form-field class="full-width">
                            <mat-label>YearExpired</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName = "yearExpired">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
            </div>
        </div>
        <div class="row ml-1 mr-1 pb-1">
            <mat-checkbox formControlName = "isNeverExpires">IsNeverExpired</mat-checkbox>
        </div>
        <div class="row ml-1 mr-1 pb-1">
            <mat-form-field class="full-width">
                <mat-label>Link</mat-label>
                <input matInput formControlName = "link">
            </mat-form-field>
        </div>
    </form>
</div>
    
    
<div class="mt-3">
    <mat-divider class ="title mb-3"></mat-divider>
    <div mat-dialog-actions>
        <button mat-stroked-button color ="warn" class="mr-3" (click) = "onNoClick()">CANCEL</button>
        <button mat-stroked-button  color = "primary" [disabled] = "certificationsForm.invalid" [mat-dialog-close] = "certificationsForm">SAVE</button>
    </div>
</div>
