/* You can add global styles to this file, and also import other style files */
 @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; 

.mat-stroked-button:hover{
    background: #673ab7 !important;
    color: white;
    font-weight: 400;
}

.mat-stroked-button{
    color: #673ab7;
    font-weight: 400;
    background: transparent;
}

.mat-button:hover{
    background: #673ab7 !important;
    color: white;
    font-weight: bolder;
}

.mat-raised-button{
    color: white;
    font-weight: 400;
    background: transparent;
}

.mat-raised-button:hover{
    background: #673ab7 !important;
    color: white;
    font-weight: 400;
}

.page-header{
    background-color: darkgray;
    color: white;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
} 

html, body{
    height: 100%;
    margin: 0;
} 

body{
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.form-width{
    width: 100%;
}

.header-color{
    color: #673ab7;
}

.site-color{
    color: #673ab7;
}

textarea.cdk-textarea-autosize-measuring {
    padding: 4px 0 !important;
}

.cross-button:hover{
    border-radius: 3px;
    background-color: #673ab7;
    cursor: pointer;
}

.mat-drawer-inner-container{
    overflow-x: hidden !important;
    padding-left: 15px;
}