.full-width {
    width: 100%;
}

.title {
    border-bottom: 2px solid darkgray;
    margin-left: 0;
    margin-right: 0;
}

.is-loading ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
}