.full-width{
    width: 100%;
}

.title{
    border-bottom: 2px solid #673ab7;
    margin-left: 0;
    margin-right: 0;
}

/* textarea {
    box-shadow: none;
    border-radius: 2px;
    border: 2px solid #673ab7;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
} */

.form-field__textarea {
    max-height: initial;
    padding: 6px 10px;
    min-height: 150px;
}