<overlay [appLoadingMode] = "appLoadingMode"></overlay>
<div class = "row mt-5">
    <div class="col-xl-2">
    </div>

    <div class="col-xl-8">
        <section id="about">
            <mat-progress-bar mode={{summaryMode}}></mat-progress-bar>
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openAboutEditDialog()">edit</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4 class="text-info font-weight-bolder">Summary</h4>
                </div>
                <div class="card-body">
                    <ng-container *ngIf = "truncatedSummary.length > 0; else nontruncatedSummary">
                        <pre class="formatted text-secondary font-weight-bolder certify">{{showSummary}}</pre>
                        <a *ngIf = "!showButton" (click)= "readMore()" class="text-info font-weight-bold">ReadMore</a>
                        <a *ngIf = "showButton" (click)= "readLess()" class="text-info font-weight-bold">ReadLess</a>
                    </ng-container>
                    <ng-template #nontruncatedSummary>
                        <ng-container *ngIf = "about.length > 0">
                            <pre class="formatted text-secondary font-weight-bolder certify">{{about}}</pre>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
        </section>

        <section id="contact" *ngIf = "contact">
            <mat-progress-bar mode={{contactMode}}></mat-progress-bar>
            <contact [contact] = "contact" (contactEditEvent) = "fireContactEditEvent($event)"></contact>
        </section>

        <section id="skill">
            <mat-progress-bar mode={{skillMode}}></mat-progress-bar>
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openSkillAddDialog()">add</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4 class="text-info font-weight-bolder">Skills</h4>
                </div>
                <div class="card-body">
                    <skill *ngFor = "let skillExp of skillExpArray" [skillExp]= "skillExp" (skillExpEvent) = "fireSkillExpEvent($event)">
                    </skill>
                </div>
            </div>
        </section>

        <section id="certifications">
            <mat-progress-bar mode={{certificationMode}}></mat-progress-bar>
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openCertificationsAddDialog()">add</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4 class="text-info font-weight-bolder">Certifications</h4>
                </div>
                <div class="card-body">
                    <certification *ngFor = "let certification of certificationArray"  [certification]= "certification" (certificationEvent) = "fireCertificationEvent($event)"
                    ></certification>
                </div>
            </div>
        </section>

        <section id="workexp">
            <mat-progress-bar mode={{workExpMode}}></mat-progress-bar>
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openWorkExpAddDialog()">add</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4 class="text-info font-weight-bolder">WorkExperience</h4>
                </div>
                <div class="card-body">
                    <work-experience *ngFor = "let workExp of workExpArray" [workExp] = "workExp" (workExpEvent) = fireWorkExpEvent($event)
                    ></work-experience>
                </div>
            </div>
        </section>

        <section id= "education">
            <mat-progress-bar mode={{educationMode}}></mat-progress-bar>
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openEducationAddDialog()">add</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4 class="text-info font-weight-bolder">Education</h4>
                </div>
                <div class="card-body">
                    <education-details 
                     *ngFor = "let education of educationArray" [education] = "education" (eduEvent)= fireEducationEvent($event)>
                    </education-details>
                </div>
            </div>
        </section>
        
    </div>
    <div class="col-xl-2 d-xl-block">
        <ul class="section-nav">
            <li class="list-entry"><a [routerLink] = "['.']" fragment ="about">Summary</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "contact">ContactInfo</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "skill">Skills</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "certifications">Certifications</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "workexp">WorkExperience</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "education">Education</a></li>
        </ul>
    </div>
</div>




