<div class = "row mt-5">
    <div class="col-xl-2">
        <section>
            <!-- <div class="card mat-elevation-z8 mb-4">
                <div class="card-body">
                    <h2 class="text-center text-info font-weight-bold p-3">Profile Views</h2>
                    <mat-divider></mat-divider>
                    <div class="text-center text-secondary font-weight-bold p-3"><h3>10</h3></div>
                    <mat-divider></mat-divider>
                    <h2 class="text-center text-info font-weight-bold p-3">Profile Rating</h2>
                    <mat-divider></mat-divider>
                    <div class=""></div>
                </div>
            </div> -->
        </section>
    </div>
    <div class="col-xl-8">
        <section id="about">
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openAboutEditDialog()">edit</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4>About</h4>
                </div>
                <div class="card-body">
                    <p>{{about}}</p>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="card  stretch-card mat-elevation-z8 mb-4">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openContactEditDialog()">edit</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4>Contact</h4>
                </div>
                <div class="card-body">
                    <!-- <div class="d-flex flex-row">
                        <i class="material-icons cross-button ml-auto mr-2" (click) = "openProfileEditDialog()">edit</i>
                    </div> -->
                    <div class="d-flex flex-row">
                            <img src={{imageLocation}} class="img-lg rounded">
                            <div class="ml-3">
                                <h6>{{fullName}}</h6>   
                                <p class="text-muted">{{email}}</p>
                                <p class="mt-2 text-success font-weight-bold">{{role}}</p>
                            </div>
                            <!-- <div class="ml-auto mr-2 edit" (click) = "openDialog()">
                                
                            </div> -->
                    </div>
                    <div class="d-flex flex-row pt-4">
                            <i class="material-icons">local_post_office</i>
                        <p class="text-secondary  font-weight-bold ml-3">{{address}}</p>
                    </div>
                    <div class="d-flex flex-row pt-2">
                            <i class="material-icons">local_phone</i>
                            <p class="text-secondary font-weight-bold ml-3">{{phone}}</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="skill">
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openSkillAddDialog()">add</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4>Skills</h4>
                </div>
                <div class="card-body">
                    <skill *ngFor = "let skillExp of skillExpArray" [skillExp]= "skillExp" (skillExpEvent) = "fireSkillExpEvent($event)">
                    </skill>
                </div>
            </div>
        </section>

        <section id="certifications">
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openCertificationsAddDialog()">add</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4>Certifications</h4>
                </div>
                <div class="card-body">
                    <certification *ngFor = "let certification of certificationArray"  [certification]= "certification" (certificationEvent) = "fireCertificationEvent($event)"
                    ></certification>
                </div>
            </div>
        </section>

        <section id="workexp">
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openWorkExpAddDialog()">add</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4>WorkExperience</h4>
                </div>
                <div class="card-body">
                    <work-experience *ngFor = "let workExp of workExpArray" [workExp] = "workExp" (workExpEvent) = fireWorkExpEvent($event)
                    ></work-experience>
                </div>
            </div>
        </section>

        <section id= "education">
            <div class="card stretch-card mb-4 mat-elevation-z8">
                <i class="material-icons ml-auto mr-3 mt-3 cross-button"  (click) = "openEducationAddDialog()">add</i>
                <div class="d-flex flex-row card-title ml-3 mr-3">
                    <h4>Education</h4>
                </div>
                <div class="card-body">
                    <education-details 
                     *ngFor = "let education of educationArray" [education] = "education" (eduEvent)= fireEducationEvent($event)>
                    </education-details>
                </div>
            </div>
        </section>
        
    </div>
    <div class="col-xl-2 d-xl-block">
        <ul class="section-nav">
            <li class="list-entry"><a [routerLink] = "['.']" fragment ="about">Summary</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "contact">ContactInfo</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "skill">Skills</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "certifications">Certifications</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "workexp">WorkExperience</a></li>
            <li class="list-entry"><a [routerLink] =  "['.']" fragment = "education">Education</a></li>
        </ul>
    </div>
</div>




