.img-lg{
    width: 92px;
    height: 92px;
}

.rounded{
    border-radius: 0.25rem !important;
}

.d-xl-bloc {
  display: block!important;
}

a {
  cursor: pointer;
}

.card-title{
    border-bottom: 2px solid blue;
    padding-bottom: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1.65rem;
}

.certify{
  background: #eeeeee;
  padding: 40px;
}

.formatted {
  white-space: pre-wrap;
}



.certify a:hover {
  text-decoration: none;
  color: blue;
}


.section-nav{
    padding-left: 0;
    border-left: 2px solid green;
}

.section-nav ul {
  padding-left: 1rem;
}

.list-entry{
    display: block;
}

.formatted {
  white-space: pre-wrap;
}

.list-entry a{
  display: block;
  padding: 0.105rem 1rem;
  color: darkgray;
  background-color: transparent;
  text-decoration: none;
}


li{
  text-decoration: none;
  display: block;
}


.list-entry a:hover{
    color: blue;
}

.title{
    display: block;
    pointer-events: auto;
}


/* section{
  margin-bottom: 4rem;
} */

.section-header{
  background-color: #76528BFF;
  padding: 30px;
  margin: 0;
  color : #2BAE66FF;
  text-align: center;
  font-weight: bolder;
}

.section-content{
  padding:30px;
  background: #eeeeee;
}