<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-xl-2">
            <div class="card mat-elevation-z8">
                <div class="card-body">
                    <h3 class="font-weight-bold text-info text-center p-3">Share Your Favourite Java Interview Question</h3>
                    <div class="text-center font-weight-bold" (click) = "shareInterviewQuestion()">
                        <button mat-button class="font-weight-bolder">SHARE</button></div>
                </div>
            </div>
        </div>
            <div class="col-xl-8">
                <div class="row page-header mat-elevation-z8">
                        <div class="col-md-2" style="padding: 15px;">
                                <button (click) = "onBack()" mat-raised-button style="padding-left: 30px; padding-right: 30px;">BACK</button>
                        </div>
                        <div class="col-md-8" style="padding: 15px;">
                            <h4>TOP 50 JAVA INTERVIEW QUESTIONS</h4>
                        </div>
                        <div class="col-md-2" style="padding: 15px;">
                            <button (click) = "onNext()" mat-raised-button style="padding-left: 30px; padding-right: 30px;">NEXT</button>
                        </div>
                    </div>
                    <div class="card mat-elevation-z4">
                        <div class="card-body">
                            <div class="card-title">
                                <strong>What is the differnece between this() and super() in Java?</strong>
                            </div>
                            <div class="card-text">
                                this() is used to access one constructor from another with in the same class while super() is used to access super class
                                constructor. Either this() or super() exists it must be the first statement from the constructor.
                            </div>
                        </div>
                    </div>
                    <div class="card mat-elevation-z4">
                        <div class="card-body">
                            <div class="card-title">
                                <strong>What is Super keyword in Java?</strong>
                            </div>
                            <div class="card-text">
                                Super is used to access superclass varaibles, methods, constructors.
                                <br>
                                Super can be used in two forms
                                <ul>
                                    <li>First form is for calling super class constructor</li>
                                    <li>Second one is to call super class variables, methods</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mat-elevation-z4">
                        <div class="card-body">
                            <div class="card-title">
                                <strong>What is the difference between abstract class and interface?</strong>
                            </div>
                            <div class="card-text">
                                <table class="table">
                                    <thead>
                                        <th>Interface</th>
                                        <th>Abstract class</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Interface contains only abstract methods</td>
                                            <td>Abstract class can contain abstract methods, concrete methods or both</td>
                                        </tr>
                                        <tr>
                                            <td>Method access specifiers must be public in interface</td>
                                            <td>Except private we can have any access specifier for methods</td>
                                        </tr>
                                        <tr>
                                            <td>Multiple inheritance can be achieved</td>
                                            <td>Multiple inheritance cannot be achieved</td>
                                        </tr>
                                        <tr>
                                            <td>Varibles declared must be public, static, final</td>
                                            <td>Except private varibles can have any access specifiers</td>
                                        </tr>
                                        <tr>
                                            <td>Interface can be implemented using implements keyword</td>
                                            <td>Abstract class can be implemented using Abstract keyword</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mat-elevation-z4">
                        <div class="card-body">
                            <div class="card-title">
                                <strong>Can we have multiple classes in a single file?</strong>
                            </div>
                            <div class="card-text">
                                Yes we can have multiple classes in a single file but it is not recommended practice in Java. We can have multiple classes in a single file but only
                                one class can be made public. If we try to make two public classes in a single file Java throws following compilation error.
                                <br>
                                
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-xl-2"></div>
    </div>
    <div class="row mt-5">
        <div class="col-xl-2"></div>
        <div class="col-xl-8">
            <div class="card mb-3 p-3 text-center bg-info text-white font-weight-bolder mat-elevation-z8"><h1>TEST YOUR JAVA SKILLS</h1></div>
            <ng-container *ngIf = "interViewQuestionArray && !issubmitted; else elsetemplate">
                <div class="card rounded bg-light mat-elevation-z8 mb-4">
                    <div class="ml-3 mt-3 card-title font-weight-bolder question">{{questionTracker + 1}}<span>) </span>{{firstQuestion.question}} ?</div>
                    <div class="card-text">
                        <mat-radio-group class="radio-group" [(ngModel)]="selectedOption">
                            <mat-radio-button class="radio-button text-secondary ml-3" *ngFor = "let option of firstQuestion.options"
                            [value]="option">{{option}}</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="clearfix m-2">
                            <ng-container *ngIf = "questionTracker != 0">
                                <button mat-stroked-button class = "float-left ml-2" (click) = "onQuestionBack()">Back</button>
                            </ng-container>
                        <ng-container *ngIf = "numberOfQuestions != questionTracker + 1; else submit">
                            <button mat-stroked-button class="mr-2 float-right" (click) = "onNext()">NEXT</button>
                        </ng-container>
                        <ng-template #submit>
                            <button class="mr-2 float-right" (click) = "onsubmit()" mat-stroked-button>SUBMIT</button>
                        </ng-template>
                    </div>
                </div>
            </ng-container>
            <ng-template #elsetemplate>
                <ng-container *ngIf = "issubmitted; else serverError">
                    <div class="card rounded mat-elevation-z4">
                        <div class="card-title bg-primary text-white p-3">
                            <div class="row">
                                <div class="col-xl-6 font-weight-bolder">Question</div>
                                <div class="col-xl-2 font-weight-bolder">Your Answer</div>
                                <div class="col-xl-2 font-weight-bolder">Correct Answer</div>
                                <div class="col-xl-2 font-weight-bolder">ISVALID</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div *ngFor = "let qaReport of questionAnswerReport; let i = index">
                                <div class="row mb-3">
                                    <div class="col-xl-6 font-weight-bolder"><span>{{i}}) </span>{{qaReport.question}} ?</div>
                                    <div class="col-xl-2 text-info font-weight-bolder">{{qaReport.userAnswer}}</div>
                                    <div class="col-xl-2 text-info font-weight-bolder">{{qaReport.questionAnswer}}</div>
                                    <div class="col-xl-2">
                                        <ng-container *ngIf = "qaReport.isvalid; else invalid">
                                            <div class="text-success font-weight-bolder">CORRECT</div>
                                        </ng-container>
                                        <ng-template #invalid>
                                            <div class="text-danger font-weight-bolder">INCORRECT</div>
                                        </ng-template>
                                    </div>
                                </div>
                                <mat-divider *ngIf = "i != questionAnswerReport.length-1" class="mt-3"></mat-divider>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-template>
            <ng-template #serverError>
                <div class="card">
                    <div class="p-3 card-text bg-warning text-center font-weight-bolder text-white mat-elevation-z8">SERVER IS DOWN PLEAE CONTACT ADMIN</div>
                </div>
            </ng-template>
        </div>
    </div>
</div>